@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --offredColor: "#DB4444";
}

.App {
  display: flex;
  flex-direction: column;
  min-height: 100vh; /* Full screen height */
}

.content {
  flex-grow: 1; /* Pushes the footer to the bottom */
}

/** Image Zooming Styles*/
